* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.nav--image {
    height: 100%;
    margin-right: 6px;
}

.nav--title {
    font-size: 1.25rem;
    margin-right: auto;
    font-family: Karla;
}

.nav--text {
    font-size: 0.75rem;
    font-weight: 500;
}

.form{
    display: flex;
    flex-direction: column;

    width: 477px;
    
    margin-top: 36px;
    margin-left: 35px;
}

.input--fields{
    display: flex;

    height: 35px;
    justify-content: space-between;

}

.textfield1, .textfield2{
    width: 230px;
    
    border: 1px solid;
    border-radius: 5px;
}

.form--button{
    margin-top: 15px;
    width: 477px;
    height: 40px;
    
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);

    border: none;
    border-radius: 5px;

    cursor: pointer;

}

.meme--container {
    position: relative;
    display: inline-block;
    margin-left: 35px;

}

.meme--image {
    margin-top: 10px;
    width: 477px;
}

h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    left: 25%;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.toptext{
    left: 50px;
    top: 0;
}

.bottomtext{
   
    left: 50px;
    bottom: 0;
}