* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.nav--image {
    height: 100%;
    margin-right: 6px;
}

.nav--title {
    font-size: 1.25rem;
    margin-right: auto;
    font-family: Karla;
}

.nav--text {
    font-size: 0.75rem;
    font-weight: 500;
}